{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>ddd</title>
  <!-- Bootstrap CSS ver3 -->
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}">
  <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>

  <!-- fulcalendarの読み込み-->
  <link href="{% static 'fullcalendar380/css/fullcalendar.css' %}" rel='stylesheet' />
  <link href="{% static 'fullcalendar380/css/fullcalendar.print.css' %}" rel='stylesheet' media='print' />
  <!--<script src="{% static 'fullcalendar380/js/jquery.min.js' %}"></script>-->
  <script src="{% static 'fullcalendar380/js/moment.min.js' %}"></script>
  <script src="{% static 'fullcalendar380/js/fullcalendar.js' %}"></script>
  <script src="{% static 'fullcalendar380/locale/ja.js' %}"></script>
  <script src="{% static 'fullcalendar380/js/jquery-ui.min.js' %}"></script>
  <script src="{% static 'fullcalendar380/js/gcal.min.js' %}"></script>



  {% block script %}{% endblock script%}
</head>

<body>
  <!--トップメニュー-->
  <nav class="navbar navbar-default navbar-static-top">
    <div class="container">
      <ul class="nav navbar-nav">
        <li><a class="navbar-brand" href="{% url 'site_manage_app:index' %}">Life-Navi</a></li>
        <li><a class="navbar-link" href="{% url 'admin:index' %}">Admin(暫定)</a></li>
        <li><a class="navbar-link" href="{% url 'dayreport_app:dayreport' %}">毎日の目標管理</a></li>
        {% if user.is_authenticated %}
        {% else %}
        <li><a class="navbar-link" href="{% url 'register' %}">新規ユーザー登録</a></li>
        {% endif %}
      </ul>

      <ul class="nav navbar-nav navbar-right">
        {% if user.is_authenticated %}
        <li>
          <p class="navbar-text navbar-right">ようこそ {{ user.username}} さん。</p>
          <li><a class="navbar-link navbar-right" href="{% url 'logout' %}?next=/">ログアウト</a></li>
          {% else %}
          <li><a class="navbar-link navbar-right" href="{% url 'login' %}?next=/dayreport">ログイン</a></li>
          {% endif %}

      </ul>
    </div>
  </nav>

  <!--本体-->
  <div class="container">

    {% block body_block %}
    <!--この中身以外が継承されます-->
    {% endblock body_block %}
  </div>
<input type="hidden" name="baseurl" value=" {{ user}}" id="baseurl">
</body>

</html>
