{% extends "site_manage_app/base.html"%}
{% load static %}

{% block script %}
<script src="{% static 'js/index.js' %}"></script>
<link rel="stylesheet" href="{% static 'fullcalendar380/css/custom.css' %}"></link>
{% endblock script%}

{% block body_block%}

<h1 ><font color="#AF97DC">ようこそ、Life-Navigatorへ</font></h1>
<br/>
<br/>
{% if user.is_authenticated %}
<a href="{% url 'dayreport_app:dayreport' %}">毎日の目標管理画面へ</a>

{% else %}
<a href="{% url 'login' %}?next=/dayreport">ログイン画面へ</a>
<br/>
<br/>
<p><a href="{% url 'register' %}?next=/dayreport">新規ユーザー登録はこちら</a></p>
{% endif %}

{% endblock %}
