{% extends "site_manage_app/base.html"%} {% load static %} {% block script %}
<script src="{% static 'js/daytime.js' %}"></script>
<link rel="stylesheet" href="{% static 'fullcalendar380/css/fullcalendar.min.css' %}"></link>
<link rel="stylesheet" href="{% static '/css/main_daytime.css' %}"></link>
<link rel="stylesheet" href="{% static '/css/kanban.css' %}"></link>
{% endblock script%} {% block body_block%} {% if user.is_authenticated %} {% else %}
<br/>
<a href="{% url 'login' %}?next=/">ログイン画面へ</a> {% endif %}
<!--看板ボード -->
<div class="container-fluid" style="min-width: 1050px;">
  <div id="sortableKanbanBoards" class="row">
    <div>
      <div class="panel panel-primary kanban-col">
        <div class="panel-heading">ICE BOX
          <button　type="button" id="btn-add-task" class="btn btn-default" data-toggle="modal" data-target="#createKanbanModal">Add Task</button>
            <i class="fa fa-2x fa-plus-circle pull-right"></i>

        </div>
        <div class="panel-body" style="max-height: 301px;">
          <div id="ICEBOX" class="kanban-centered">

            <article class="kanban-entry grab" id="item0" draggable="true">
              <div class="kanban-entry-inner">
                <div class="kanban-label">
                  <h2>qwdq</h2></div>
              </div>
            </article>

          </div>
        </div>
      </div>
      <div class="panel panel-primary kanban-col">
        <div class="panel-heading">
          WAITING
          <i class="fa fa-2x fa-plus-circle pull-right"></i>
        </div>
        <div class="panel-body" style="max-height: 201px;">
          <div id="WAITING" class="kanban-centered">
          </div>
        </div>
      </div>

      <div class="panel panel-primary kanban-col">
        <div class="panel-heading">
          SPRINT BACKLOG
          <i class="fa fa-2x fa-plus-circle pull-right"></i>
        </div>
        <div class="panel-body" style="max-height: 401px;">
          <div id="SPRINTBACKLOG" class="kanban-centered">
          </div>
        </div>
      </div>
      <div class="panel panel-primary kanban-col">
        <div class="panel-heading">
          DOING
          <i class="fa fa-2x fa-plus-circle pull-right"></i>
        </div>
        <div class="panel-body" style="max-height: 401px;">
          <div id="DOING" class="kanban-centered">
          </div>
        </div>
      </div>

      <div class="panel panel-primary kanban-col">
        <div class="panel-heading">
          DONE
          <i class="fa fa-2x fa-plus-circle pull-right"></i>
        </div>
        <div class="panel-body" style="max-height: 401px;">
          <div id="DONE" class="kanban-centered">
          </div>
        </div>
      </div>

      <div class="panel panel-primary kanban-col">
        <div class="panel-heading">
          TRASH
          <i class="fa fa-2x fa-plus-circle pull-right"></i>
        </div>
        <div class="panel-body" style="max-height: 401px;">
          <div id="TRASH" class="kanban-centered">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="calendar"></div>



<form id="daystartform">
  <div class="form-group">
    <div class="form-inline">
      本日の最重要目標：
      <input type="text" size=100 class="form-control" id="daystartform_1" placeholder="本日の最重要目標" </input>
      <select class="form-control" id="daystartform_1_select">
        <option value="0">夜に振り返る</option>
        <option value="1">◎</option>
        <option value="2">◯</option>
        <option value="3">△</option>

      </select>

    </div>
    </br>
    <div class="form-inline">
      本日の理想的目標：
      <input type="text" size=100 class="form-control" id="daystartform_2" placeholder="本日の理想的目標" </input>
      <select class="form-control" id="daystartform_2_select">
      <option value="0">夜に振り返る</option>
      <option value="1">◎</option>
      <option value="2">◯</option>
      <option value="3">△</option>

    </select>
    </div>
    </br>
    <div class="form-inline">
      本日のひとこと：
      <textarea class="form-control" id="daystartform_3" placeholder="本日のひとことを記入してください" cols=98 rows="3"></textarea> &emsp;
      <button type="button" id="daystartform_button" class="btn btn-primary" onclick="daystart_POST()">送信内容確認</button>
    </div>
    </br>
</form>
</br>

<!-- 新規看板作成 -->
<div class="modal fade" id="createKanbanModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">新たな看板の登録</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <input type="text" class="form-control" id="kmodalInput1" placeholder="看板の名前">
          </div>
          <div class="form-group">
            <div class="form-inline">
              <select name="example" class="form-control" id="kinputModal-project"></select>
              <button type="button" id="enewproject2" class="btn btn-default" data-toggle="modal" data-target="#project-register-Modal">新規</button>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" id="kanban-save" class="btn btn-primary" onclick="kanbanSave()">登録</button>
        <button type="button" id="kanban-cancel" class="btn btn-default" onclick="kanbanCancel()">キャンセル</button>
      </div>
    </div>
  </div>
</div>

<!-- モーダル・ダイアログ -->
<div class="modal fade" id="inputModal" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span>×</span></button>
        <h4 class="modal-title">スケジュール設定</h4>
      </div>
      <div class="modal-body">
        <form id="inputform">
          <div class="form-group">
            タイトル
            <input type="text" class="form-control" id="inputModal-title" placeholder="スケジュールのタイトル　※自動で@場所名が付加されます" </input>
          </div>
          <br>
          <div class="form-group">

            <div class="form-inline">
              開始
              <input type="time" class="form-control" id="inputModal-start" placeholder="開始予定時刻"></input>
              <div class="form-group">
                終了
                <input type="time" class="form-control" id="inputModal-end" placeholder="終了予定時刻"></input>
              </div>
              場所＠
              <input type="text" class="form-control" id="inputModal-place" placeholder="＠"></input>
            </div>
          </div>
          <br>
          <div class="form-group">
            <div class="form-inline">
              <select name="example" class="form-control" id="inputModal-project"></select>
              <button type="button" id="newproject" class="btn btn-default" data-toggle="modal" data-target="#project-register-Modal">新規</button> &emsp; <select name="example" class="form-control" id="inputModal-task"></select>
              <button type="button" id="newcode" class="btn btn-default" data-toggle="modal" data-target="#code-register-Modal">新規</button> &emsp; <select name="example" class="form-control" id="inputModal-label"></select>
              <button type="button" id="newlabel" class="btn btn-default" data-toggle="modal" data-target="#label-register-Modal">新規</button>
            </div>
          </div>
          <br>
          <div class="form-group">
            <div class="form-inline">
              スケジュールの振りかえり
              <input type="radio" value="0" name="hurikaeri" class="form-control" id="inputModal-radio0" checked>未選択</input>
              <br>
              <input type="radio" value="1" name="hurikaeri" class="form-control" id="inputModal-radio1">コア業務</input>　　　 &emsp;
              <input type="radio" value="2" name="hurikaeri" class="form-control" id="inputModal-radio2">注力すべき領域</input>
              <br>
              <input type="radio" value="3" name="hurikaeri" class="form-control" id="inputModal-radio3">減らすべき仕事</input> &emsp;
              <input type="radio" value="3" name="hurikaeri" class="form-control" id="inputModal-radio4">自己学習</input>


            </div>
          </div>
          <br>


          <div class="form-group">
            詳細
            <textarea class="form-control" id="inputModal-detail" placeholder="スケジュールの詳細を記入して下さい" rows="4"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" id="inputModal-save" class="btn btn-primary" data-dismiss="modal">登録</button>
        <button type="button" id="inputModal-cancel" class="btn btn-default" data-dismiss="modal">キャンセル</button>
      </div>
    </div>
  </div>
</div>

<!-- モーダル・ダイアログ -->
<div class="modal fade" id="editModal" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span>×</span></button>
        <h4 class="modal-title">スケジュール設定</h4>
      </div>
      <div class="modal-body">
        <form id="editform">
          <div class="form-group">
            タイトル
            <input type="text" class="form-control" id="editModal-title" placeholder="edeスケジュールのタイトル　※自動で@場所名が付加されます" </input>
          </div>
          <br>
          <div class="form-group">

            <div class="form-inline">
              開始
              <input type="time" class="form-control" id="editModal-start" placeholder="開始予定時刻">
              <div class="form-group">
                終了
                <input type="time" class="form-control" id="editModal-end" placeholder="終了予定時刻">
              </div>
              場所＠
              <input type="text" class="form-control" id="editModal-place" placeholder="＠">
            </div>
          </div>
          <br>
          <div class="form-group">
            <div class="form-inline">
              <select name="example" class="form-control" id="editModal-project"></select>
              <button type="button" id="enewproject" class="btn btn-default" data-toggle="modal" data-target="#project-register-Modal">新規</button> &emsp; <select name="example" class="form-control" id="editModal-task"></select>
              <button type="button" id="enewcode" class="btn btn-default" data-toggle="modal" data-target="#code-register-Modal">新規</button> &emsp; <select name="example" class="form-control" id="editModal-label"></select>
              <button type="button" id="enewlabel" class="btn btn-default" data-toggle="modal" data-target="#label-register-Modal">新規</button>
            </div>
          </div>
          <br>
          <div class="form-group">
            <div class="form-inline">
              スケジュールの振りかえり
              <input type="radio" value="0" name="hurikaeri" class="form-control" id="editModal-radio0" checked>未選択
              <br>
              <input type="radio" value="1" name="hurikaeri" class="form-control" id="editModal-radio1">コア業務　　　 &emsp; <input type="radio" value="2" name="hurikaeri" class="form-control" id="editModal-radio2">注力すべき領域
              <br>
              <input type="radio" value="3" name="hurikaeri" class="form-control" id="editModal-radio3">減らすべき仕事 &emsp; <input type="radio" value="3" name="hurikaeri" class="form-control" id="editModal-radio4">自己学習


            </div>
          </div>
          <br>


          <div class="form-group">
            詳細
            <textarea class="form-control" id="editModal-detail" placeholder="スケジュールの詳細を記入して下さい" rows="4"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" id="editModal-save" class="btn btn-primary" data-dismiss="modal">更新</button>
        <button type="button" id="editModal-cancel" class="btn btn-default" data-dismiss="modal">キャンセル</button>
        <button type="button" id="editModal-delete" class="pull-left btn btn-danger" data-dismiss="modal">この予定を削除</button>
      </div>
    </div>
  </div>
</div>


<!-- プロジェクトモーダル・ダイアログ -->
<div class="modal fade" id="project-register-Modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">新たなプロジェクトの登録</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="exampleInput1">プロジェクト名</label>
            <input type="text" class="form-control" id="pmodalInput1" placeholder="プロジェクト名">
          </div>
          <div class="form-group">
            <label for="exampleInput2">プロジェクトコード</label>
            <input type="text" class="form-control" id="pmodalInput2" placeholder="プロジェクトコード　例P4">
          </div>

          <div class="form-group">
            <label for="exampleInput3">プロジェクトの色</label>
            <input type="color" class="" id="pmodalInput3" value="#00ff00">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" id="project-save" class="btn btn-primary" onclick="projectsave()">登録</button>
        <button type="button" id="project-cancel" class="btn btn-default" onclick="projectcancel()">キャンセル</button>
      </div>
    </div>
  </div>
</div>

<!-- タスク・ダイアログ -->
<div class="modal fade" id="code-register-Modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">新たなタスクコードの登録</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="exampleInput1">タスク名</label>
            <input type="text" class="form-control" id="tmodalInput1" placeholder="タスク名">
          </div>
          <div class="form-group">
            <label for="exampleInput2">タスクコード</label>
            <input type="text" class="form-control" id="tmodalInput2" placeholder="タスクコード　例X1">
          </div>

          <div class="form-group">
            <label for="exampleInput3">タスクの色</label>
            <input type="color" class="" id="tmodalInput3" value="#00ff00">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" id="code-save" class="btn btn-primary" onclick="codesave()">登録</button>
        <button type="button" id="code-cancel" class="btn btn-default" onclick="codecancel()">キャンセル</button>
      </div>
    </div>
  </div>
</div>

<!-- ラベル・ダイアログ -->
<div class="modal fade" id="label-register-Modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">新たなラベルの登録</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="exampleInput1">ラベル名</label>
            <input type="text" class="form-control" id="lmodalInput1" placeholder="ラベル名">
          </div>
          <div class="form-group">
            <label for="exampleInput2">ラベルコード</label>
            <input type="text" class="form-control" id="lmodalInput2" placeholder="ラベルコード　例L4">
          </div>

          <div class="form-group">
            <label for="exampleInput3">ラベルの色</label>
            <input type="color" class="" id="lmodalInput3" value="#00ff00">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" id="label-save" class="btn btn-primary" onclick="labelsave()">登録</button>
        <button type="button" id="label-cancel" class="btn btn-default" onclick="labelcancel()">キャンセル</button>
      </div>
    </div>
  </div>
</div>





{% endblock %}
