{% extends "site_manage_app/base.html"%}
{% load static %}

{% block script %}
<script src="{% static 'js/daytime.js' %}"></script>
<link rel="stylesheet" href="{% static 'fullcalendar380/css/fullcalendar.min.css' %}"></link>
<link rel="stylesheet" href="{% static '/css/main_daytime.css' %}"></link>
{% endblock script%}

{% block body_block%}

<h1>1日の行動管理</h1>
<br/>
<br/> {% if user.is_authenticated %} {% else %}
<a href="{% url 'login' %}?next=/">ログイン画面へ</a> {% endif %}

<div class="flex">
  <div id="calendar_day1"></div>
</div>

<!-- モーダル・ダイアログ -->
<div class="modal fade" id="inputModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span>×</span></button>
        <h4 class="modal-title">スケジュール設定</h4>
      </div>
      <div class="modal-body">
        <form class=”form-inline”>
          <div class="form-group">
               <div class="form-inline">
            開始
            <input type="time" class="form-control" id="inputModal-start" placeholder="開始予定時刻">
          <div class="form-group">
            　終了
            <input type="time" class="form-control" id="inputModal-end" placeholder="終了予定時刻">

            　場所＠
            <input type="text" class="form-control" id="inputModal-place" placeholder="＠">
</div>

</div>
<br>
          <div class="form-group">
            タイトル
            <input type="text" class="form-control" id="inputModal-title" placeholder="スケジュールタイトル">

</div>
</div>
<br>
<div class="form-group">
            プロジェクトナンバー
            <input type="text" class="form-control" id="inputModal-pnumber1" placeholder="P12345">
<br>
            プロジェクトナンバー2
            <input type="text" class="form-control" id="inputModal-pnmber2" placeholder="XX">
<br>


            <label for="exampleInput7">詳細</label>
            <textarea class="form-control" id="inputModal-detail" placeholder="詳細" rows="3"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" id="inputModal-save" class="btn btn-primary" data-dismiss="modal">登録</button>
        <button type="button" id="inputModal-cancel" class="btn btn-default" data-dismiss="modal">キャンセル</button>
      </div>
    </div>
  </div>
</div>


{% endblock %}
