{% extends "site_manage_app/base.html"%} {% load static %} {% block script %}
<script src="{% static 'js/label.js' %}"></script>
<link rel="stylesheet" href="{% static 'fullcalendar380/css/fullcalendar.min.css' %}"></link>
{% endblock script%} {% block body_block%}

<h1>ラベルの管理</h1>
<br/>
<br/>
{% if user.is_authenticated %}
<button type="button" id="btn-register-code" class="btn btn-primary" data-toggle="modal" data-target="#label-register-Modal">新規ラベルの登録</button>
<br/>
<br/>
<br/>
<table class="table table-bordered label_tbl " id="label_table">
  <thead>
    <tr>
      <th class="text-center">ラベルの名前</th>
      <th class="text-center">ラベルコード</th>
      <th class="text-center">色</th>
      <th class="text-center">編集・消去</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>

{% else %}
<a href="{% url 'login' %}?next=/">ログイン画面へ</a> {% endif %}

<!-- モーダル・ダイアログ -->
<div class="modal fade" id="label-register-Modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span>×</span></button>
        <h4 class="modal-title">新たなラベルの登録</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="exampleInput1">ラベル名</label>
            <input type="text" class="form-control" id="modalInput1" placeholder="ラベル名">
          </div>
          <div class="form-group">
            <label for="exampleInput2">ラベルコード</label>
            <input type="text" class="form-control" id="modalInput2" placeholder="ラベルコード　例L4">
          </div>

          <div class="form-group">
            <label for="exampleInput3">ラベルの色</label>
            <input type="color" class="" id="modalInput3" value="#00ff00">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" id="label-save" class="btn btn-primary" data-dismiss="modal" onclick="labelsave()">登録</button>
        <button type="button" id="label-cancel" class="btn btn-default" data-dismiss="modal">キャンセル</button>
      </div>
    </div>
  </div>
</div>


<!-- 編集モーダル・ダイアログ -->
<div class="modal fade" id="editModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span>×</span></button>
        <h4 class="modal-title">ラベルの編集</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="editInput1">ラベル名</label>
            <input type="text" class="form-control" id="editmodalInput1">
          </div>
          <div class="form-group">
            <label for="editInput2">ラベルコード</label>
            <input type="text" class="form-control" id="editmodalInput2">
          </div>
          <div class="form-group">
            <label for="editInput3">ラベルの色</label>
            <input type="color" class="" id="editmodalInput3" value="#00ff00">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" id="label-put" class="btn btn-primary" data-dismiss="modal" onclick="labelput()">ラベルを更新</button>
        <button type="button" id="label-delete" class="btn btn-danger" data-dismiss="modal" onclick="labeldelete()">このラベルを削除</button>
        <button type="button" id="label-cancel" class="btn btn-default" data-dismiss="modal">キャンセル</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
